$font-main: "Figtree", sans-serif;
$font-main2: "Manrope", sans-serif;
$fontIcon: "icomoon";

:root {

    --digital-marketing-blue: #0B1BE6;
    --digital-marketing-black: #1F1F1F;
    --digital-marketing-light: #DCF247;
    --digital-marketing-gray: #F3F4F6;
    --digital-marketing-dark: #080B1E;


    --seo-purple: #6432FF;
    --seo-black: #090705;
    --seo-gray-dark: #EFEFFF;

    --branding-agency-black: #000000;
    --branding-agency-purple: #6219F0;
    --branding-agency-light-green: #BBFB00;

    --seo-marketing-blue: #1B194D;
    --seo-marketing-pink: #F0006D;
    --seo-marketing-purple: #8160FF;
    --seo-marketing-gray: #F8F9FB;


    --color-border-1: rgba(31, 31, 31, 0.1);
    --color-border-2: rgba(9, 7, 5, 0.1);
    --color-border-3: rgba(255, 255, 255, 0.1);
    --color-border-4: #6219F01A;
    --color-border-5: #FFFFFF4D;
    --color-border-6: #6219F012;
    --color-border-7: #8160FF1A;
    --color-border-8: #1B194D1A;



    --color-bg-2: #FFFFFF0D;
    --color-bg-3: #D9D9D9;
    --color-bg-4: #8C67FF;
    --color-bg-5: #6219F00D;


    --color-text-1: #FFFFFFA6;
    --color-text-2: #FFFFFF66;
    --color-text-3: #FFFFFF80;
    --color-text-4: #FFFFFFBF;

    --paragraph: #797979;
    --white: #FFFFFF;
    --black: #000000;
}