@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ugyiwc');
  src:  url('fonts/icomoon.eot?ugyiwc#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ugyiwc') format('truetype'),
    url('fonts/icomoon.woff?ugyiwc') format('woff'),
    url('fonts/icomoon.svg?ugyiwc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sparkle:before {
  content: "\e93b";
}
.icon-premium-package-2:before {
  content: "\e938";
}
.icon-growth-package-2:before {
  content: "\e939";
}
.icon-standard-plan-2:before {
  content: "\e93a";
}
.icon-link-2:before {
  content: "\e937";
}
.icon-keyword2:before {
  content: "\e932";
}
.icon-technical2:before {
  content: "\e933";
}
.icon-content2:before {
  content: "\e934";
}
.icon-seo-audits2:before {
  content: "\e935";
}
.icon-on-page:before {
  content: "\e936";
}
.icon-integrated-marketing:before {
  content: "\e92e";
}
.icon-proven-ranking:before {
  content: "\e92f";
}
.icon-targeted-audience:before {
  content: "\e930";
}
.icon-roket-4:before {
  content: "\e931";
}
.icon-roket-3:before {
  content: "\e92c";
}
.icon-data-driven:before {
  content: "\e92d";
}
.icon-professional-seo:before {
  content: "\e929";
}
.icon-enterprise-seo:before {
  content: "\e92a";
}
.icon-starter-seo:before {
  content: "\e92b";
}
.icon-industry-awards:before {
  content: "\e925";
}
.icon-technology-built:before {
  content: "\e926";
}
.icon-top-tier:before {
  content: "\e927";
}
.icon-trust-built:before {
  content: "\e928";
}
.icon-seo-audits:before {
  content: "\e921";
}
.icon-link-building:before {
  content: "\e922";
}
.icon-keyword-research:before {
  content: "\e923";
}
.icon-seo-strategy:before {
  content: "\e924";
}
.icon-brand-identity:before {
  content: "\e91f";
}
.icon-brand-strategy:before {
  content: "\e920";
}
.icon-optimization--monitoring:before {
  content: "\e919";
}
.icon-reporting--analytics:before {
  content: "\e91a";
}
.icon-local:before {
  content: "\e91b";
}
.icon-high-quality-link:before {
  content: "\e91c";
}
.icon-advanced:before {
  content: "\e91d";
}
.icon-chat:before {
  content: "\e918";
}
.icon-star:before {
  content: "\e917";
}
.icon-plus:before {
  content: "\e916";
}
.icon-light:before {
  content: "\e915";
}
.icon-quote:before {
  content: "\e914";
}
.icon-play:before {
  content: "\e913";
}
.icon-check:before {
  content: "\e912";
}
.icon-sidebar:before {
  content: "\e911";
}
.icon-arrow-right:before {
  content: "\e910";
}
.icon-chevron-right:before {
  content: "\e90f";
}
.icon-chevron-left:before {
  content: "\e91e";
}
.icon-close:before {
  content: "\e90e";
}
.icon-x-circle:before {
  content: "\e90d";
}
.icon-union:before {
  content: "\e90c";
}
.icon-arrow-up-right:before {
  content: "\e905";
}
.icon-calendar:before {
  content: "\e906";
}
.icon-chevron-down:before {
  content: "\e907";
}
.icon-mail:before {
  content: "\e908";
}
.icon-map-pin:before {
  content: "\e909";
}
.icon-phone-outgoing:before {
  content: "\e90a";
}
.icon-search:before {
  content: "\e90b";
}
.icon-fb:before {
  content: "\e900";
}
.icon-ig:before {
  content: "\e901";
}
.icon-in:before {
  content: "\e902";
}
.icon-x:before {
  content: "\e903";
}
.icon-send:before {
  content: "\e904";
}
